<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/master.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button type="button" class="btn btn-primary" id="button">SHOP</button>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</nav>

<h1>anything under me is being rentered dynamically from the route</h1>
    <!-- triple handlbars is a shorthand or a router-view -->
    {{{body}}}
    <h3>i live under the router view </h3>
    <a href="/user1">user1</a>
    <a href="/user2">user2</a>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <img src="images/.png">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary" id="button">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <img src="images/mainad.png">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary" id="button">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

</div>
  </body>
  
</html>
